 .fakeimg {
      height: 200px;
      background: #aaa;
    }
    .body {
      background: #EBDEF0;
    }
    .jumbotron{
      background: #D2B4DE;
    }
    .cuerpo{
      background: #EBDEF0;
    }